<!-- Your banner code -->
    <div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/background.jpg');">
      <div class="banner-content">
        <h1>WELCOME HOME</h1>
        <p>Rent unique places to stay from local hosts in 190+ countries.</p>
        <form class="navbar form-inline">
          <input type="text" placeholder="check-in" class="form-control input-lg">
          <input type="text" placeholder="check-out" class="form-control input-lg">
          <select class="form-control input-lg">
            <option value="1">1 guest</option>
            <option value="2">2 guests</option>
            <option value="3">3 guests</option>
          </select>
          <a class="btn btn-primary btn-lg">Search</a>
        </form>
      </div>
    </div>
