---
title: How to find us
---

<div class="padded text-center">
  <h2 class="section-header">Team members</h2>
  <br>
  <ul class="list-inline">
    <li>
      <%= image_tag "https://unsplash.it/150/150", class:"image-circle"%>
      <h3>Paul</h3>
    </li>
    <li>
      <%= image_tag "https://unsplash.it/150/150", class:"image-circle"%>
      <h3>John</h3>
    </li>
    <li>
      <%= image_tag "https://unsplash.it/150/150", class:"image-circle"%>
      <h3>Ringo</h3>
    </li>
    <li>
      <%= image_tag "https://unsplash.it/150/150", class:"image-circle"%>
      <h3>Georges</h3>
    </li>
  </ul>
</div>
<div class="padded-bottom text-center">
  <h2 class="section-header">Contact-us</h2>
  <h3>
    <i class="fa fa-phone"></i>
    "+33 06 42 42 42 42"
  </h3>
  <h3>
    <i class="fa fa-enveloppe"></i>
    <a href="mailto:contact@style.us">contact@style.us</a>
  </h3>
</div>
